<h1>Wellcome to your Recipe Manager</h1>

<p>
  Please, <%= link_to "Login", login_path %> if you have an account with us or <%= link_to "Signup", signup_path %> here.</p>
<p>
<!--
  You can login using your Google account
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
  or your Facebook:
  <%= link_to "Sign in with Github", "/auth/github" %>
</p>
-->